//FUENTE DE PÁGINA//
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$montserrat: "Montserrat", sans-serif;

//PADDING GENERAL//
$padding:1rem;

//HOVER BOTONES//
$hover:#3d6cd1;




//VARIABLES VARIOS//

